{{#if success}}
<div data-alert class="alert-box success radius">
  {{success}}
  <a href="#" class="close">&times;</a>
</div>
{{/if}}
{{#if notice}}
<div data-alert class="alert-box">
  {{notice}}
  <a href="#" class="close">&times;</a>
</div>
{{/if}}
{{#if error}}
<div data-alert class="alert-box warning">
  {{error}}
  <a href="#" class="close">&times;</a>
</div>
{{/if}}
